@model IEnumerable<mb905315_MIS4200.Models.Visit>

@{
    ViewBag.Title = "Index Visit";
}

<h2>Index Visit</h2>


@using (Html.BeginForm("Index", "Visits", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visitDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visitDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.visitID }) |
                @Html.ActionLink("Details", "Details", new { id = item.visitID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.visitID })
            </td>
        </tr>
    }

</table>
