@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>MIS 4200 by Marissa Balish</h1>
        <p class="lead">Get to know me and my experience!
        <p><a class="btn btn-primary" href="https://www.linkedin.com/in/marissabalish/">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Before College</h2>
        <p>
           I was born and raised in Pittsburgh, PA. I lived in a district called Hampton and thats where I attended high school.
        </p>
        <p><a class="btn btn-primary" href="https://www.ht-sd.org/page.cfm?p=2754">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>College Life</h2>
        <p>I am a senior studying MIS while also recieving a sales certificate from the Ralph and Lucy Sales center. Ohio University is a great place and I have loved my experience here.</p>
        <p><a class="btn btn-primary" href="https://www.ohio.edu/">Learn more &raquo;</a></p>
        @Html.ActionLink("Patients", "Index", "Patients")<br />
        @Html.ActionLink("Doctors", "Index", "Doctors")<br />
        @Html.ActionLink("Visits", "Index", "Visits")



    </div>
    <div class="col-md-4">
        <h2>After Graduation Plans</h2>
        <p>After college I have plans to work in New York City. I have accepted a job with Palo Alto Networks in their BDR program. I am very excited about this opportunity.</p>
        <p><a class="btn btn-primary" href="https://www.paloaltonetworks.com/">Learn more &raquo;</a></p>
        @Html.ActionLink("Customer", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")
    </div>
</div>